<?xml version="1.0"?>
<launch>

<!-- Arguments -->
<arg name="robot_num_" default="3"/>
<arg name="namespace_one" default="robot1"/>
<arg name="namespace_two" default="robot2"/>
<arg name="namespace_three" default="robot3"/>

    <!-- astar node -->
    <!-- For robot_1 -->
    <node pkg="astar" type="astar" name="robot_1_astar" output="screen">
        <param name="Euclidean" value="true"/>
        <param name="OccupyThresh" value="-1"/>
        <param name="InflateRadius" value="0"/>
        <param name="rate" value="10"/>
        <param name="robot_num" value="$(arg robot_num_)"/>
        <param name="namespace" value="$(arg namespace_one)"/>
    </node>

    <!-- astar node -->
    <!-- For robot_2 -->
    <node pkg="astar" type="astar" name="robot_2_astar" output="screen">
        <param name="Euclidean" value="true"/>
        <param name="OccupyThresh" value="-1"/>
        <param name="InflateRadius" value="0"/>
        <param name="robot_num" value="$(arg robot_num_)"/>
        <param name="namespace" value="$(arg namespace_two)"/>
    </node>

    <!-- astar node -->
    <!-- For robot_3 -->
    <node pkg="astar" type="astar" name="robot_3_astar" output="screen">
        <param name="Euclidean" value="true"/>
        <param name="OccupyThresh" value="-1"/>
        <param name="InflateRadius" value="0"/>
        <param name="robot_num" value="$(arg robot_num_)"/>
        <param name="namespace" value="$(arg namespace_three)"/>
    </node>

</launch>


