<?xml version="1.0"?>
<launch>
    <!-- Set arguments -->
    <arg name="init_pose"/>
    <arg name="robot_name"/>

    <!-- Load robot description -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_burger.urdf.xacro" />

    <!-- Spwan a robot into Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="$(arg init_pose) -urdf -param robot_description -model $(arg robot_name)"
          respawn="false" output="screen"/>
        
    <!-- Publich robot state -->
    <node pkg="robot_state_publisher" type="robot_state_publisher"
          name="robot_state_publisher" output="screen"/>
</launch>
