<launch>
    <!-- namespace -->
    <arg name="namespace_one" default="robot_1"/>
    <arg name="namespace_two" default="robot_2"/>
    <arg name="namespace_thr" default="robot_3"/>

    <!-- Map -->
    <arg name="map_file" default="$(find map)/maps/map_basic.yaml"/>
    <include file="$(find multi_parking_sys)/launch/multi_map.launch">
        <arg name="map_file_amcl" value="$(find map)/maps/map_basic.yaml"/>
        <arg name="map_file_path" value="$(find map)/maps/map.yaml"/>
    </include>

    <!-- imu pub node -->
    <node name="imu_pub" pkg="imu_test" type="imu_pub" output="screen"/>

    <!-- Node for transform between map and base_link -->
    <include file="$(find multi_parking_sys)/launch/multi_tf_baselink.launch" />

    <!-- For multi robot AMCL -->
    <include file="$(find multi_parking_sys)/launch/multi_amcl.launch">
        <arg name="map_file" value="$(arg map_file)"/>
    </include>

    <!-- Odometry -->
    <include file="$(find multi_parking_sys)/launch/multi_odometry.launch" />

    <!-- obstacle -->
    <arg name="open_multi_obstacle" default="false"/>
    <group if="$(arg open_multi_obstacle)">
        <include file="$(find multi_parking_sys)/laulnch/multi_obstacle.launch" />
    </group>

    <!-- static publisher -->
    <include file="$(find multi_parking_sys)/launch/multi_static_pub.launch" />

    <!-- Astar Node -->
    <include file="$(find multi_parking_sys)/launch/multi_astar.launch" />

    <!-- PathTracker Node -->
    <include file="$(find multi_parking_sys)/launch/multi_pathtracker.launch" />
    
    <!-- System UI -->
    <include file="$(find parkingUI)/launch/parkingUI.launch" output="screen">
    </include>

    <!-- Emergency UI -->
    <!-- pose init value -->
    <arg name="robot_1_init_x" default="-1.0"/>
    <arg name="robot_1_init_y" default=" 1.5"/>
    <arg name="robot_1_init_a" default=" 0.0"/>
    <arg name="robot_2_init_x" default="-1.1"/>
    <arg name="robot_2_init_y" default=" 0.75"/>
    <arg name="robot_2_init_a" default=" 0.0"/>
    <arg name="robot_3_init_x" default=" 1.25"/>
    <arg name="robot_3_init_y" default="-0.34"/>
    <arg name="robot_3_init_a" default="-3.141592"/>
    <node pkg="ui_emergency" type="ui_emergency" name="ui_emergency" output="screen">
        <param name="num_of_robots" type="int" value="3"/>
        <param name="robot_1_init_x" value="$(arg robot_1_init_x)"/>
        <param name="robot_1_init_y" value="$(arg robot_1_init_y)"/>
        <param name="robot_1_init_a" value="$(arg robot_1_init_a)"/>
        <param name="robot_2_init_x" value="$(arg robot_2_init_x)"/>
        <param name="robot_2_init_y" value="$(arg robot_2_init_y)"/>
        <param name="robot_2_init_a" value="$(arg robot_2_init_a)"/>
        <param name="robot_3_init_x" value="$(arg robot_3_init_x)"/>
        <param name="robot_3_init_y" value="$(arg robot_3_init_y)"/>
        <param name="robot_3_init_a" value="$(arg robot_3_init_a)"/>
    </node>

    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find multi_parking_sys)/rviz/multi_carto.rviz" />

</launch>
