<launch>

    <!-- namespace -->
    <arg name="namespace_one" default="robot_1"/>
    <arg name="namespace_two" default="robot_2"/>
    <arg name="namespace_thr" default="robot_3"/>

    <!-- pose init value -->
    <arg name="robot_1_init_x" default="-1.0"/>
    <arg name="robot_1_init_y" default="1.5"/>
    <arg name="robot_1_init_a" default="0.0"/>

    <arg name="robot_2_init_x" default="0.0"/>
    <arg name="robot_2_init_y" default="1.0"/>
    <arg name="robot_2_init_a" default="0.0"/>

    <arg name="robot_3_init_x" default="0.0"/>
    <arg name="robot_3_init_y" default="2.0"/>
    <arg name="robot_3_init_a" default="0.0"/>

    <!-- For robot_1 -->
    <!-- <node name="wheel_operator" pkg="dynamixel_workbench_operators" type="wheel_operator" required="true" output="screen" ns="$(arg namespace_one)"/> -->

    <!-- imu pub node -->
    <node name="imu_pub" pkg="imu_test" type="imu_pub" output="screen"/>

    <!-- Map dir -->
    <arg name="map_file" default="$(find multi_parking_sys)/map/map2.yaml"/>

    <!-- Map server -->
    <!-- <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/> -->

    <!-- AMCL -->
    <!-- For robot_1 -->
    <group ns = "$(arg namespace_one)">
        <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
        <node pkg="amcl" type="amcl" name="amcl">
            <rosparam file="$(find mul_amcl)/param/amcl_params.yaml" command="load" />
            <param name="initial_pose_x" value="$(arg robot_1_init_x)"/>
            <param name="initial_pose_y" value="$(arg robot_1_init_y)"/>
            <param name="initial_pose_a" value="$(arg robot_1_init_a)"/>

            <param name="odom_frame_id" value="$(arg namespace_one)/odom"/>
            <param name="base_frame_id" value="$(arg namespace_one)/base_link"/>
            <param name="use_map_topic" value="true"/>
            <!-- <param name="first_map_only" value="true"/> -->

            <remap from="initialpose" to="/$(arg namespace_one)/initialpose"/>
            <remap from="scan" to="/$(arg namespace_one)/scan"/>
        </node>
    </group>

    <!-- AMCL -->
    <!-- For robot_2 -->
    <group ns = "$(arg namespace_two)">
        <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
        <node pkg="amcl" type="amcl" name="amcl">
            <rosparam file="$(find mul_amcl)/param/amcl_params.yaml" command="load" />
            <param name="initial_pose_x" value="$(arg robot_1_init_x)"/>
            <param name="initial_pose_y" value="$(arg robot_1_init_y)"/>
            <param name="initial_pose_a" value="$(arg robot_1_init_a)"/>

            <param name="odom_frame_id" value="$(arg namespace_two)/odom"/>
            <param name="base_frame_id" value="$(arg namespace_two)/base_link"/>
            <param name="use_map_topic" value="true"/>
            <!-- <param name="first_map_only" value="true"/> -->

            <remap from="initialpose" to="/$(arg namespace_two)/initialpose"/>
            <remap from="scan" to="/$(arg namespace_two)/scan"/>
        </node>
    </group>

    <!-- AMCL -->
    <!-- For robot_3 -->
    <group ns = "$(arg namespace_thr)">
        <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
        <node pkg="amcl" type="amcl" name="amcl">
            <rosparam file="$(find mul_amcl)/param/amcl_params.yaml" command="load" />
            <param name="initial_pose_x" value="$(arg robot_1_init_x)"/>
            <param name="initial_pose_y" value="$(arg robot_1_init_y)"/>
            <param name="initial_pose_a" value="$(arg robot_1_init_a)"/>

            <param name="odom_frame_id" value="$(arg namespace_thr)/odom"/>
            <param name="base_frame_id" value="$(arg namespace_thr)/base_link"/>
            <param name="use_map_topic" value="true"/>
            <!-- <param name="first_map_only" value="true"/> -->

            <remap from="initialpose" to="/$(arg namespace_thr)/initialpose"/>
            <remap from="scan" to="/$(arg namespace_thr)/scan"/>
        </node>
    </group>

    <!-- Odometry -->
    <node pkg="multi_parking_sys" type="odom_node" name="$(arg namespace_one)_odom_node" output="screen">
        <param name="namespace" value="$(arg namespace_one)"/>
    </node>

    <node pkg="multi_parking_sys" type="odom_node" name="$(arg namespace_two)_odom_node" output="screen">
        <param name="namespace" value="$(arg namespace_two)"/>
    </node>

    <node pkg="multi_parking_sys" type="odom_node" name="$(arg namespace_thr)_odom_node" output="screen">
        <param name="namespace" value="$(arg namespace_thr)"/>
    </node>

    <!-- obstacle -->
    <!-- For robot_1 -->
    <arg name="obstacle_dist" default="0.4"/>
    <arg name="obstacle_angle" default="30"/>
    <!-- <node pkg="obstacle_pkg" type="obstacle" name="$(arg namespace_one)_obstacle" output ="screen">
        <param name="namespace" value="$(arg namespace_one)"/>
        <param name="OBSTACLE_DIST" value="$(arg obstacle_dist)"/>
    </node> -->

    <!-- For robot_2 -->
    <!-- <node pkg="obstacle_pkg" type="obstacle" name="$(arg namespace_two)_obstacle" output ="screen">
        <param name="namespace" value="$(arg namespace_two)"/>
        <param name="OBSTACLE_DIST" value="$(arg obstacle_dist)"/>
    </node> -->

    <!-- For robot_3 -->
    <!-- <node pkg="obstacle_pkg" type="obstacle" name="$(arg namespace_thr)_obstacle" output ="screen">
        <param name="namespace" value="$(arg namespace_thr)"/>
        <param name="OBSTACLE_DIST" value="$(arg obstacle_dist)"/>
    </node> -->


    <!-- static publisher -->
    <node pkg="tf" type="static_transform_publisher" name="$(arg namespace_one)_base_link_to_laser_broadcaster" args="0 0 0 0 0 3.141592 /$(arg namespace_one)/base_link /$(arg namespace_one)/laser 100" />
    <node pkg="tf" type="static_transform_publisher" name="$(arg namespace_one)_base_to_imu_broadcaster" args="0 0 0 0 0 0 /$(arg namespace_one)/base_link /$(arg namespace_one)/imu 100" />

    <node pkg="tf" type="static_transform_publisher" name="$(arg namespace_two)_base_to_laser_broadcaster" args="0 0 0 0 0 3.141592 /$(arg namespace_two)/base_link /$(arg namespace_two)/laser 100" />
    <node pkg="tf" type="static_transform_publisher" name="$(arg namespace_two)_base_to_imu_broadcaster" args="0 0 0 0 0 0 /$(arg namespace_two)/base_link /$(arg namespace_two)/imu 100" />

    <node pkg="tf" type="static_transform_publisher" name="$(arg namespace_thr)_base_to_laser_broadcaster" args="0 0 0 0 0 3.141592 /$(arg namespace_thr)/base_link /$(arg namespace_thr)/laser 100" />
    <node pkg="tf" type="static_transform_publisher" name="$(arg namespace_thr)_base_to_imu_broadcaster" args="0 0 0 0 0 0 /$(arg namespace_thr)/base_link /$(arg namespace_thr)/imu 100" />

    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find multi_parking_sys)/rviz/multi_carto.rviz" />

    <!-- astar node -->
    <arg name="map_file_two" default="$(find multi_parking_sys)/map/test_map.yaml"/>
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file_two)" >
        <remap from="map" to="path_map"/>
    </node>

    <!-- For robot_1 -->
    <node pkg="astar" type="astar" name="$(arg namespace_one)_astar" output="screen">
        <param name="Euclidean" value="true"/>
        <param name="OccupyThresh" value="-1"/>
        <param name="InflateRadius" value="0.125"/>
        <param name="rate" value="10"/>
        <param name="namespace" value="$(arg namespace_one)"/>
    </node>

    <!-- For robot_2 -->
    <node pkg="astar" type="astar" name="$(arg namespace_two)_astar" output="screen">
        <param name="Euclidean" value="true"/>
        <param name="OccupyThresh" value="-1"/>
        <param name="InflateRadius" value="0.125"/>
        <param name="rate" value="10"/>
        <param name="namespace" value="$(arg namespace_two)"/>
    </node>

    <!-- For robot_3 -->
    <node pkg="astar" type="astar" name="$(arg namespace_thr)_astar" output="screen">
        <param name="Euclidean" value="true"/>
        <param name="OccupyThresh" value="-1"/>
        <param name="InflateRadius" value="0.125"/>
        <param name="rate" value="10"/>
        <param name="namespace" value="$(arg namespace_thr)"/>
    </node>

    <!-- Kanayama Tracker -->
    <node pkg="pathTracking" type="tracker" name="$(arg namespace_one)_tracker" output="screen">
        <param name="tracker" type="string" value="Kanayama"/>
        <param name="k_x" type="double" value="0.4"/>
        <param name="k_y" type="double" value="11"/>
        <param name="timeStep" type="double" value="0.04"/>
        <param name="hz" type="int" value="33"/>
        <param name="namespace" value="$(arg namespace_one)"/>
    </node>

    <node pkg="pathTracking" type="tracker" name="$(arg namespace_two)_tracker" output="screen">
        <param name="tracker" type="string" value="Kanayama"/>
        <param name="k_x" type="double" value="0.4"/>
        <param name="k_y" type="double" value="11"/>
        <param name="timeStep" type="double" value="0.04"/>
        <param name="hz" type="int" value="33"/>
        <param name="namespace" value="$(arg namespace_two)"/>
    </node>

    <node pkg="pathTracking" type="tracker" name="$(arg namespace_thr)_tracker" output="screen">
        <param name="tracker" type="string" value="Kanayama"/>
        <param name="k_x" type="double" value="0.4"/>
        <param name="k_y" type="double" value="11"/>
        <param name="timeStep" type="double" value="0.04"/>
        <param name="hz" type="int" value="33"/>
        <param name="namespace" value="$(arg namespace_thr)"/>
    </node>

<!-- 
    <node pkg="pathTracking" type="tracker" name="$(arg namespace_one)_tracker" output="screen">
        <param name="k" type="double" value="4.0"/>
        <param name="k2" type="double" value="1.5"/>
        <param name="v" type="double" value="0.2"/>
        <param name="namespace" value="$(arg namespace_one)"/>
        <param name="tracker" type="string" value="Stanley"/>
    </node>

    <node pkg="pathTracking" type="tracker" name="$(arg namespace_two)_tracker" output="screen">
        <param name="k" type="double" value="4.0"/>
        <param name="k2" type="double" value="1.5"/>
        <param name="v" type="double" value="0.2"/>
        <param name="namespace" value="$(arg namespace_two)"/>
        <param name="tracker" type="string" value="Stanley"/>
    </node>

    <node pkg="pathTracking" type="tracker" name="$(arg namespace_thr)_tracker" output="screen">
        <param name="k" type="double" value="4.0"/>
        <param name="k2" type="double" value="1.5"/>
        <param name="v" type="double" value="0.2"/>
        <param name="namespace" value="$(arg namespace_thr)"/>
        <param name="tracker" type="string" value="Stanley"/>
    </node> -->

     <!-- <node pkg="pathTracking" type="tracker" name="$(arg namespace_one)_tracker" output="screen">
        <param name="tracker" type="string" value="PID"/>
        <param name="ph" type="double" value="3.2"/>
        <param name="ih" type="double" value="0.0"/>
        <param name="dh" type="double" value="1.3"/>
        <param name="pc" type="double" value="3.5"/>
        <param name="ic" type="double" value="0.0"/>
        <param name="dc" type="double" value="1.5"/>
        <param name="v" type="double" value="0.1"/>
        <param name="hz" type="int" value="33"/>
        <param name="namespace" value="$(arg namespace_one)"/>
    </node>

         <node pkg="pathTracking" type="tracker" name="$(arg namespace_two)_tracker" output="screen">
        <param name="tracker" type="string" value="PID"/>
        <param name="ph" type="double" value="3.2"/>
        <param name="ih" type="double" value="0.0"/>
        <param name="dh" type="double" value="1.3"/>
        <param name="pc" type="double" value="3.5"/>
        <param name="ic" type="double" value="0.0"/>
        <param name="dc" type="double" value="1.5"/>
        <param name="v" type="double" value="0.1"/>
        <param name="hz" type="int" value="33"/>
        <param name="namespace" value="$(arg namespace_two)"/>
    </node>

         <node pkg="pathTracking" type="tracker" name="$(arg namespace_thr)_tracker" output="screen">
        <param name="tracker" type="string" value="PID"/>
        <param name="ph" type="double" value="3.2"/>
        <param name="ih" type="double" value="0.0"/>
        <param name="dh" type="double" value="1.3"/>
        <param name="pc" type="double" value="3.5"/>
        <param name="ic" type="double" value="0.0"/>
        <param name="dc" type="double" value="1.5"/>
        <param name="v" type="double" value="0.1"/>
        <param name="hz" type="int" value="33"/>
        <param name="namespace" value="$(arg namespace_thr)"/>
    </node> -->

    <node pkg="ui_emergency" type="ui_emergency" name="ui_emergency" output="screen">
        <param name="num_of_robots" type="int" value="3"/>
    </node>

    <!-- <node pkg="ui_main" type="ui_main" name="ui_main" output="screen">
    </node> -->


</launch>