<launch>
    <!-- namespace -->
    <arg name="namespace_one" default="robot_1"/>
    <arg name="namespace_two" default="robot_2"/>
    <arg name="namespace_thr" default="robot_3"/>

    <!-- static publisher -->
    <node pkg="tf" type="static_transform_publisher" name="$(arg namespace_one)_base_link_to_laser_broadcaster" args="0 0 0 3.141592 0 3.141592 /$(arg namespace_one)/base_link /$(arg namespace_one)/laser 100" />
    <node pkg="tf" type="static_transform_publisher" name="$(arg namespace_one)_base_to_imu_broadcaster" args="0 0 0 0 0 0 /$(arg namespace_one)/base_link /$(arg namespace_one)/imu 100" />

    <node pkg="tf" type="static_transform_publisher" name="$(arg namespace_two)_base_to_laser_broadcaster" args="0 0 0 0 0 3.141592 /$(arg namespace_two)/base_link /$(arg namespace_two)/laser 100" />
    <node pkg="tf" type="static_transform_publisher" name="$(arg namespace_two)_base_to_imu_broadcaster" args="0 0 0 0 0 0 /$(arg namespace_two)/base_link /$(arg namespace_two)/imu 100" />

    <node pkg="tf" type="static_transform_publisher" name="$(arg namespace_thr)_base_to_laser_broadcaster" args="0 0 0 0 0 3.141592 /$(arg namespace_thr)/base_link /$(arg namespace_thr)/laser 100" />
    <node pkg="tf" type="static_transform_publisher" name="$(arg namespace_thr)_base_to_imu_broadcaster" args="0 0 0 0 0 0 /$(arg namespace_thr)/base_link /$(arg namespace_thr)/imu 100" />
</launch>