<launch>
    <arg name="namespace_one" default="robot_1"/>
    <arg name="namespace_two" default="robot_2"/>
    <arg name="namespace_three" default="robot_3"/>

    <!-- For robot_1 -->
    <!-- <node name="wheel_operator" pkg="dynamixel_workbench_operators" type="wheel_operator" required="true" output="screen" ns="$(arg namespace_one)"/> -->

    <!-- imu pub node -->
    <node name="imu_pub" pkg="imu_test" type="imu_pub" output="screen"/>

    <!-- For robot_1 -->
    <group ns = "$(arg namespace_one)">
        <!-- cartographer_node -->
        <param name="/use_sim_time" value="false" />
        <param name="use_pose_extrapolator" value="true"/>
        <node pkg="cartographer_ros" type="cartographer_node" name="cartographer_node" 
            args="-configuration_directory $(find multi_parking_sys)/lua -configuration_basename $(arg namespace_one)_rplidar.lua 
            -load_state_filename /home/lee-jaewon/catkin_ws/src/Autonomous-Multi-Robot-Parking-System/multi_parking_sys/map/mymap0527.pbstream
            ">
            <param name="use_pose_extrapolator" value="true"/>
        </node>

        <!-- cartographer_occupancy_grid_node -->
        <node pkg="cartographer_ros" type="cartographer_occupancy_grid_node"
                name="cartographer_occupancy_grid_node" 
                args="-resolution 0.01" >
        </node>
    </group>

    <!-- For robot_2 -->
    <group ns = "$(arg namespace_two)">
        <!-- cartographer_node -->
        <param name="/use_sim_time" value="false" />
        <param name="use_pose_extrapolator" value="true"/>
        <node pkg="cartographer_ros" type="cartographer_node" name="cartographer_node" 
            args="-configuration_directory $(find multi_parking_sys)/lua -configuration_basename $(arg namespace_two)_rplidar.lua 
            "
            >
            <param name="use_pose_extrapolator" value="true"/>
        </node>

        <!-- cartographer_occupancy_grid_node -->
        <!-- <node pkg="cartographer_ros" type="cartographer_occupancy_grid_node"
                name="cartographer_occupancy_grid_node" 
                args="-resolution 0.05" >
        </node> -->
    </group>

    <!-- init pose node -->
    <node name="pose_init" pkg="pose" type="srv_pose" output="screen">
        <param name="namespace_one" value="$(arg namespace_one)"/>
        <param name="namespace_two" value="$(arg namespace_two)"/>
        <param name="namespace_three" value="$(arg namespace_three)"/>
    </node>

    <!-- state publisher for robot_1 -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg namespace_one)_tf_broadcaster"  args="0 0 0 0 0 0 /map /$(arg namespace_one)/map 100"/> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="$(arg namespace_one)_map_to_$(arg namespace_one)_odom"  args="0 0 0 0 0 0 /$(arg namespace_one)/map /$(arg namespace_one)/odom 100"/> -->
    <node pkg="tf" type="static_transform_publisher" name="$(arg namespace_one)_base_to_laser_broadcaster" args="0 0 0 0 0 3.141592 /$(arg namespace_one)/base_link /$(arg namespace_one)/laser 100" />
    <node pkg="tf" type="static_transform_publisher" name="$(arg namespace_one)_base_to_imu_broadcaster" args="0 0 0 0 0 0 /$(arg namespace_one)/base_link /$(arg namespace_one)/imu 100" />

    <!-- <node pkg="tf" type="static_transform_publisher" name="$(arg namespace_one)_map_to_$(arg namespace_two)_odom"  args="0 1.0 0 0 0 0 /$(arg namespace_one)/map /$(arg namespace_two)/odom 100"/> -->
    <node pkg="tf" type="static_transform_publisher" name="$(arg namespace_two)_base_to_laser_broadcaster" args="0 0 0 0 0 3.141592 /$(arg namespace_two)/base_link /$(arg namespace_two)/laser 100" />
    <node pkg="tf" type="static_transform_publisher" name="$(arg namespace_two)_base_to_imu_broadcaster" args="0 0 0 0 0 0 /$(arg namespace_two)/base_link /$(arg namespace_two)/imu 100" />

    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find multi_parking_sys)/rviz/multi_carto.rviz" />

    <!-- Arguments -->
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="open_rviz" default="true"/>

    <!-- astar node -->
    <!-- For robot_1 -->
    <node pkg="astar" type="astar" name="robot_1_astar">
        <param name="Euclidean" value="true"/>
        <param name="OccupyThresh" value="-1"/>
        <param name="InflateRadius" value="0.1"/>
        <param name="rate" value="10"/>
        <param name="namespace" value="$(arg namespace_one)"/>
    </node>

    <!-- astar node -->
    <!-- For robot_2 -->
    <node pkg="astar" type="astar" name="robot_2_astar">
        <param name="Euclidean" value="true"/>
        <param name="OccupyThresh" value="-1"/>
        <param name="InflateRadius" value="0.1"/>
        <param name="rate" value="10"/>
        <param name="namespace" value="$(arg namespace_two)"/>
    </node>

    <!-- Local Path Planner -->
    <arg name="hz" default="20"/>
    <arg name="use_scan_as_input" default="true"/>
    <arg name="robot_param" default="$(find dwa_planner)/config/robot_param.yaml"/>
    <arg name="dwa_param" default="$(find dwa_planner)/config/dwa_param.yaml"/>

    <node pkg="dwa_planner" type="dwa_planner" name="dwa_planner_one" ns="local_planner" output ="screen">
        <rosparam command="load" file="$(arg robot_param)"/>
        <rosparam command="load" file="$(arg dwa_param)"/>
        <param name="HZ" value="$(arg hz)"/>
        <param name="USE_SCAN_AS_INPUT" value="$(arg use_scan_as_input)"/>
        <remap from="/odom" to="/odom"/>
        <param name="namespace" value="$(arg namespace_one)"/>
    </node>

    <node pkg="dwa_planner" type="dwa_planner" name="dwa_planner_two" ns="local_planner" output ="screen">
        <rosparam command="load" file="$(arg robot_param)"/>
        <rosparam command="load" file="$(arg dwa_param)"/>
        <param name="HZ" value="$(arg hz)"/>
        <param name="USE_SCAN_AS_INPUT" value="$(arg use_scan_as_input)"/>
        <remap from="/odom" to="/odom"/>
        <param name="namespace" value="$(arg namespace_two)"/>
    </node>

    <node pkg="test_pkg" type="local_goal_pub" name="local_goal_pub_one" output ="screen">
        <param name="namespace" value="$(arg namespace_one)"/>
    </node>

    <node pkg="test_pkg" type="local_goal_pub" name="local_goal_pub_two" output ="screen">
        <param name="namespace" value="$(arg namespace_two)"/>
    </node>

    <!-- Stanley Tracker -->
    <!-- For robot_1 -->
        <!-- <node pkg="pathTracking" type="tracker" name="$(arg namespace_one)_tracker" output="screen">
        <param name="tracker" type="string" value="Kanayama"/>
        <param name="k_x" type="double" value="0.4"/>
        <param name="k_y" type="double" value="11"/>
        <param name="timeStep" type="double" value="0.2"/>
        <param name="hz" type="int" value="33"/>
        <param name="namespace" value="$(arg namespace_one)"/>
    </node> -->

    <!-- <node pkg="pathTracking" type="tracker" name="robot_1_tracker" output="screen">
        <param name="k" type="double" value="4.0"/>
        <param name="k2" type="double" value="1.5"/>
        <param name="v" type="double" value="0.2"/>
        <param name="namespace" value="$(arg namespace_one)"/>
        <param name="tracker" type="string" value="Stanley"/>
    </node> -->

    <!-- Stanley Tracker -->
    <!-- For robot_2 -->
    <!-- <node pkg="pathTracking" type="tracker" name="robot_2_tracker" output="screen">
        <param name="k" type="double" value="4.0"/>
        <param name="k2" type="double" value="1.5"/>
        <param name="v" type="double" value="0.1"/>
        <param name="namespace" value="$(arg namespace_two)"/>
        <param name="tracker" type="string" value="Stanley"/>
    </node> -->

    <!-- Kanayama Tracker -->
    <!-- <node pkg="pathTracking" type="tracker" name="$(arg namespace_one)_tracker" output="screen">
        <param name="tracker" type="string" value="Kanayama"/>
        <param name="k_x" type="double" value="0.4"/>
        <param name="k_y" type="double" value="11"/>
        <param name="timeStep" type="double" value="0.4"/>
        <param name="hz" type="int" value="33"/>
        <param name="namespace" value="$(arg namespace_one)"/>
    </node> -->

    <!-- Stanley + PID Tracker -->
    <!-- <node pkg="pathTracking" type="tracker" name="tracker" output="screen">
        <param name="tracker" type="string" value="PID"/>
        <param name="ph" type="double" value="3.2"/>
        <param name="ih" type="double" value="0.0"/>
        <param name="dh" type="double" value="1.3"/>
        <param name="pc" type="double" value="3.5"/>
        <param name="ic" type="double" value="0.0"/>
        <param name="dc" type="double" value="1.5"/>
        <param name="v" type="double" value="0.1"/>
        <param name="hz" type="int" value="33"/>
        <param name="namespace" value="$(arg namespace_one)"/>
    </node> -->

    <!-- emergency node -->
    <!-- For all robots -->
    <node pkg="ui_emergency" type="ui_emergency" name="ui_emergency" output="screen">
        <param name="num_of_robots" type="int" value="3"/>
    </node>

    <!-- Main UI node -->
    <!-- For all robots -->
    <!-- <node pkg="ui_main" type="ui_main" name="ui_main" output="screen"> -->
    <!-- </node> -->



</launch>