<launch>

    <!-- namespace -->
    <arg name="namespace_one" default="robot_1"/>
    <arg name="namespace_two" default="robot_2"/>
    <arg name="namespace_thr" default="robot_3"/>

    <arg name="obstacle_dist" default="0.4"/>
    <arg name="obstacle_angle" default="30"/>
    <node pkg="obstacle_pkg" type="obstacle" name="$(arg namespace_one)_obstacle" output ="screen">
        <param name="namespace" value="$(arg namespace_one)"/>
        <param name="OBSTACLE_DIST" value="$(arg obstacle_dist)"/>
    </node>

    <!-- For robot_2 -->
    <node pkg="obstacle_pkg" type="obstacle" name="$(arg namespace_two)_obstacle" output ="screen">
        <param name="namespace" value="$(arg namespace_two)"/>
        <param name="OBSTACLE_DIST" value="$(arg obstacle_dist)"/>
    </node>

    <!-- For robot_3 -->
    <node pkg="obstacle_pkg" type="obstacle" name="$(arg namespace_thr)_obstacle" output ="screen">
        <param name="namespace" value="$(arg namespace_thr)"/>
        <param name="OBSTACLE_DIST" value="$(arg obstacle_dist)"/>
    </node>

</launch>